<nav class="navbar  navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="collapseExample">
        <img width="80" src="../assets/img/GEMED-LOGO.jpg">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PILOT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Connexion</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
			</ul>
    </div>
  </div>
</nav>
